.SearchContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 2rem;
}

.SearchContainer__label{
  font-weight: bold;
  margin-right: 1rem;
  font-family: 'Krona One', sans-serif;
}

.SearchContainer__input{
  border: 2px solid black;
  transition: 1s all;
  border-radius: 15px;
  outline: none;
}

.SearchContainer__input:focus{
  border: 2px solid rgb(255, 51, 51);
}

@media (max-width: 600px){
  .SearchContainer__label{
    margin: .5rem;
  }
  .SearchContainer {
    font-size: .8rem;
    flex-wrap: wrap;
    flex-direction: column;
  }
}
