.cartContainer {
  text-align: center;
  margin: 1rem 0;
}

.cartContainer button {
  cursor: pointer;
  background-color: #fff;
  padding: .3rem 1.2rem;
  color: black;
  border-radius: 50px;
  border: 1px solid black;
  outline: none;
}


.cartContainer button:disabled{
  cursor: not-allowed;
  background-color: gray;
  color: white;
}

.cartContainer button:not(:disabled){
  animation-name: addedToCart;
  animation-duration: 2s;
  transition: .5s all;
}

.cartContainer button:hover{
  transform: scale(1.2);
}

@keyframes addedToCart{
  0%{
    transform: scale(1);
  }

  50%{
    transform: scale(1.3);
  }

  100%{
    transform: scale(1);

  }
}
