.contactWrapper{
  display: flex;
  justify-content: center;
}

.contactInfoContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  background-image: linear-gradient(to right bottom, rgb(255, 51, 51), rgb(255, 189, 189));
  height: 450px;
  width: 380px;
  margin: 0 .5rem 3rem .3rem;
  border-radius: 30px;

  }

  .contactUsFa{
    color: white;
    margin-left: .5rem;
    transform: scale(1.5);    
    border-radius: 10px;
  }
  /*vertical-align: middle*/